{% extends 'base.html.twig' %}

{% block header %}

    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto  text-uppercase">Index metod </h1>
                    <div class="btn-group" style="width:100%">
                        <button class="btn btn-primary" style="width:33.3%">Fizykoterapia</button>
                        <button class="btn btn-primary" style="width:33.3%">Kinezyterapia</button>
                        <button class="btn btn-primary" style="width:33.3%">Masaż</button>
                    </div>
{#                    <a class="btn btn-primary" href="{{ path('method_index') }}">Fizykoterapia</a>#}
{#                    <a class="btn btn-primary" href="{{ path('method_index') }}">Kinezyterapia</a>#}
{#                    <a class="btn btn-primary" href="{{ path('method_index') }}">Masaż</a>#}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="projects-section bg-light" id="projects">
    <a href="{{ path('add_method') }}" class="btn btn-outline-info justify-content-center" style="width:100%">Dodaj nową metodę</a>
    {% for method in methods %}
        <a href="{{ path('edit_method', {'id' : method.id}) }}">
        {{ include('admin/methods/oneMethodBox.html.twig', {'method': method} ) }}
        </a>
    {% endfor %}
</section>
{% endblock %}


