{% extends 'base.html.twig' %}
{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ path('index') }}">MK</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path('method_index') }}">Cofnij</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <div class="container  d-flex flex-column h-100  justify-content-center">
        <h1> Zmień metodę</h1>

        {{ form_start(form) }}

                {{ form_row(form.name) }}

            {{ form_row(form.text) }}

                {{ form_row(form.type) }}

            {{ form_row(form.submit, { 'label': 'Zapisz zmiany' }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}